*{
    margin: 0;
    padding: 0;
}

.main-card--cointainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
  }
section{
    padding: 8px;
}
.container{
    background-size: cover;
    border: 1.5px solid rgba(66, 66, 66, 0.534);
    border-left-color: rgb(0, 183, 255);
    border-right-color:rgb(247, 0, 255) ;
    border-top-color:rgb(0, 174, 255) ;
    border-bottom-color:rgb(255, 0, 191) ;
    padding: 8px;
    margin: 6px;
    border-radius: 1.5px;
}
.heading{
    text-transform: capitalize;
     padding: 2px;
     margin: 3px;
}
.heading p{
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 15px;
}
.heading span{
    border: 2px solid rgba(92, 92, 92, 0.548);
    border-radius: 52%;
    padding: 3px 6px;
    border-left-color: red;
    border-right-color:blue ;
    border-top-color:red ;
    border-bottom-color:blue ;
    text-decoration: solid;
    font-weight: bolder;
}
.main{
    font-size: 20px;
    padding: 5px;
}
.body{
    padding: 3px;
    
}
.body span  {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family:'Bangers', cursive;
  }
.body span::before {
    content: '';
    flex: 0.9;
    margin-left: 0.2rem;
    margin-right: 2rem;
    height: 1px;
    background:linear-gradient(to left,rgb(233, 16, 161),rgb(13, 13, 14));
     
  }
img{
    width: 83%;
    height: 50%;
    margin: 12px;
}
.cont{
    margin: 22px 25% ;
    background:linear-gradient(to right,rgb(171, 243, 129),rgb(72, 150, 240));
    border-radius: 9px; 
    padding: 12px 6px;
    text-align: center;
}
.button{
    text-transform: uppercase;
    border: none;
    background-color:transparent;
    font-size: 16px;
    margin: 5px;
    padding: 5px 8px;
    border-radius: 13px;
    font-weight: bolder;
}
 .button:hover{
    color: rgb(255, 253, 255);
    background:linear-gradient(to left,rgb(204, 74, 243),rgb(5, 199, 248));
    cursor: pointer;
 }